<mat-toolbar color="primary">
  <span class="text-size">Battilana Articulos</span>
  <mat-button-toggle-group appearance="legacy" class="margin-left-20">
    <mat-button-toggle routerLink="/familias" class="mat-button-design" routerLinkActive="mat-button-toggle-checked">Familias</mat-button-toggle>
    <mat-button-toggle routerLink="/subfamilias" class="mat-button-design" routerLinkActive="mat-button-toggle-checked">SubFamilias</mat-button-toggle>
    <mat-button-toggle routerLink="/articulos" class="mat-button-design" routerLinkActive="mat-button-toggle-checked">Articulos</mat-button-toggle>
    <mat-button-toggle class="mat-button-design">Clientes</mat-button-toggle>
    <mat-button-toggle class="mat-button-design">Reportes</mat-button-toggle>
  </mat-button-toggle-group>
  <span class="spacer"></span>
  <a mat-button (click)="logout()" class="color-white btn">
    <span>Cerrar Sesion</span>
  </a>
</mat-toolbar>
