<mat-toolbar color="primary">
  <span class="text-size"><a routerLink="/"><img class="logo-custom" src="assets/images/logoTemplate.jfif"></a></span>
  <mat-button-toggle-group appearance="legacy" class="margin-left-20">
    <mat-button-toggle routerLink="/familias" class="mat-button-design" routerLinkActive="mat-button-toggle-checked">Familias</mat-button-toggle>
    <mat-button-toggle routerLink="/subfamilias" class="mat-button-design" routerLinkActive="mat-button-toggle-checked">SubFamilias</mat-button-toggle>
    <mat-button-toggle routerLink="/articulos" class="mat-button-design" routerLinkActive="mat-button-toggle-checked">Articulos</mat-button-toggle>
    <mat-button-toggle class="mat-button-design" routerLink="/clientes-sap" routerLinkActive="mat-button-toggle-checked">Clientes SAP</mat-button-toggle>
    <mat-button-toggle [matMenuTriggerFor]="menuReportes" class="mat-button-design" routerLinkActive="mat-button-toggle-checked">Reportes</mat-button-toggle>
    <mat-menu #menuReportes="matMenu" xPosition="after">
      <button mat-menu-item routerLink="/reportes/familias" routerLinkActive="mat-button-toggle-checked">Familias</button>
      <button mat-menu-item routerLink="/reportes/subfamilias" routerLinkActive="mat-button-toggle-checked">Subfamilias</button>
      <button mat-menu-item routerLink="/reportes/articulos" routerLinkActive="mat-button-toggle-checked">Articulos</button>
    </mat-menu>
  </mat-button-toggle-group>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menuUser"><img src="/assets/images/user1.png" style="width: 40px; height: 40px; margin-right: 15px;"></button>
  <mat-menu #menuUser="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/user" *ngIf="isAdmin()"><img src="/assets/images/useredit.png" style="width: 20px; height: 20px; margin-right: 5px;">Gestionar usuarios</button>
    <button (click)="logout()" mat-menu-item><img src="/assets/images/exit.png" style="width: 20px; height: 20px; margin-right: 5px;">Cerrar sesion</button>
  </mat-menu>
</mat-toolbar>
