.spacer{
  flex: 1 1 auto;
}

.color-white{
  color: white;
}

.text-size{
  font-size: 25px;
}

.margin-left-20{
  margin-left: 20px;
}

.mat-button-design{
  font-size: 17px;
  color: white;
  border: none;
  outline: none;
}

.mat-button-toggle-checked {
  background-color: #f78e64 !important; /* Cambia este color por el que prefieras */
  color: white !important; /* Cambia el color del texto si es necesario */
  border-color: transparent !important; /* Elimina bordes si es necesario */
}

.mat-toolbar{
  padding-bottom: 40px;
  padding-top: 40px;
}

.logo-custom {
  width: 65px;
  height: 65px;
  border-radius: 25%;
  margin-top: 5px;
}