<app-navbar></app-navbar>
<mat-card class="container-card">
    <mat-card-content>
        <a mat-raised-button color="primary" (click)="revalidarClientes()">Actualizar Clientes</a>
        <br><br>
        <div class="container" class="mat-elevation-z8">
            <table mat-table [dataSource]="clientes" >
                <ng-container matColumnDef="Ruc">
                    <th mat-header-cell *matHeaderCellDef>Ruc</th>
                    <td mat-cell *matCellDef="let c">{{c.ruc}}</td>
                </ng-container>
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let c">{{c.nombre_cliente}}</td>
                </ng-container>
                <ng-container matColumnDef="Correo">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let c">{{c.correo_cliente}}</td>
                </ng-container>
                <ng-container matColumnDef="Usuario Portal">
                    <th mat-header-cell *matHeaderCellDef>Usuario Portal</th>
                    <td mat-cell *matCellDef="let c">{{c.usuario_portal}}</td>
                </ng-container>
                <ng-container matColumnDef="Clave Portal">
                    <th mat-header-cell *matHeaderCellDef>Clave Portal</th>
                    <td mat-cell *matCellDef="let c">{{c.clave_portal}}</td>
                </ng-container>
                <ng-container matColumnDef="Id Vendedor">
                    <th mat-header-cell *matHeaderCellDef>Id Vendedor</th>
                    <td mat-cell *matCellDef="let c">{{c.idVendedor.id_vendedor}}</td>
                </ng-container>
                <ng-container matColumnDef="Nombres">
                    <th mat-header-cell *matHeaderCellDef>Nombres</th>
                    <td mat-cell *matCellDef="let c">{{c.idVendedor.nombres}}</td>
                </ng-container>
                <ng-container matColumnDef="Accion">
                    <th mat-header-cell *matHeaderCellDef>Accion</th>
                    <td mat-cell *matCellDef="let c" style="display: flex; flex-direction: row; gap: 5px;">
                        <button mat-raised-button color="primary" (click)="openDialog('250ms', '250ms', c.id_cliente)">Credenciales</button>
            <button mat-raised-button color="warn" (click)="openDialog2('250ms', '250ms', c.id_cliente)">Enviar</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasClientes"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasClientes"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>

    </mat-card-content>
</mat-card>