<app-navbar></app-navbar>

<mat-card class="container-card">
  <mat-card-content>
    <a *ngIf="isAdmirOrOperator()" class="move-btn" matTooltip="Nueva SubFamilia" matTooltipShowDelay="800"
      matTooltipPosition="right" (click)="openDialog1('400ms', '400ms')" style="margin-left: 10px;"><img
        src="assets/iconos/nuevoRegistro.png"></a>
    <br>
    <div class="container" class="mat-elevation-z8 table-users">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Codigo">
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let sb">{{sb.codigo}}</td>
        </ng-container>
        <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripcion</th>
          <td mat-cell *matCellDef="let sb">{{sb.descripcion}}</td>
        </ng-container>
        <ng-container matColumnDef="Familia">
          <th mat-header-cell *matHeaderCellDef>Familia</th>
          <td mat-cell *matCellDef="let sb">{{sb.familias.descripcion}}</td>
        </ng-container>
        <ng-container matColumnDef="Accion">
          <th mat-header-cell *matHeaderCellDef>Accion</th>
          <td mat-cell *matCellDef="let sb" style="display: flex; gap: 10px;">
            <a *ngIf="isAdmirOrOperator()" matTooltip="Modificar SubFamilia" matTooltipShowDelay="800"
              matTooltipPosition="left" class="move-btn" (click)="openDialog2('400ms', '400ms', sb.id)"><img
                src="assets/iconos/modificar.png"></a>
            <a *ngIf="isAdmirOrOperator()" matTooltip="Eliminar SubFamilia" matTooltipShowDelay="800"
              matTooltipPosition="left" class="move-btn" (click)="deleteSubFamilias(sb.id)"><img
                src="assets/iconos/basura.png"></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[8, 10, 20]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>