<app-navbar></app-navbar>

<mat-card class="container-card">
  <mat-card-content>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <div style="margin-top: 20px;">
        <a *ngIf="isAdmirOrOperator()" class="move-btn" matTooltip="Nuevo Articulo" matTooltipShowDelay="800"
          matTooltipPosition="right" style="margin-left: 10px;" (click)="openDialog('400ms', '400ms')"><img
            src="assets/iconos/nuevoRegistro.png"></a>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="filtro($event)" #input>
        </mat-form-field>
      </div>
    </div>
    <div class="container" class="mat-elevation-z8 table-users">
      <table mat-table [dataSource]="articulos">
        <ng-container matColumnDef="Nro. Articulo">
          <th mat-header-cell *matHeaderCellDef>Nro. Articulo</th>
          <td mat-cell *matCellDef="let a">{{a.nroArticulo}}</td>
        </ng-container>
        <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripcion</th>
          <td mat-cell *matCellDef="let a">{{a.descripcion}}</td>
        </ng-container>
        <ng-container matColumnDef="Presentacion">
          <th mat-header-cell *matHeaderCellDef>Presentacion</th>
          <td mat-cell *matCellDef="let a">{{a.presentacion}}</td>
        </ng-container>
        <ng-container matColumnDef="Familia">
          <th mat-header-cell *matHeaderCellDef>Familia</th>
          <td mat-cell *matCellDef="let a">{{a.familiasDto.descripcion}}</td>
        </ng-container>
        <ng-container matColumnDef="SubFamilia">
          <th mat-header-cell *matHeaderCellDef>Familia</th>
          <td mat-cell *matCellDef="let a">{{a.subFamiliasDto.descripcion}}</td>
        </ng-container>
        <ng-container matColumnDef="Fec. Creacion">
          <th mat-header-cell *matHeaderCellDef>Fec. Creacion</th>
          <td mat-cell *matCellDef="let a">{{a.fecCreacion | date: "dd/MM/yyyy"}}</td>
        </ng-container>
        <ng-container matColumnDef="Accion">
          <th mat-header-cell *matHeaderCellDef>Accion</th>
          <td mat-cell *matCellDef="let a" style="display: flex; gap: 10px;">
            <a *ngIf="isAdmirOrOperator()" class="move-btn" matTooltip="Actualizar" matTooltipShowDelay="800"
              matTooltipPosition="left" (click)="openDialog2('400ms', '400ms' , a.id)"><img
                src="assets/iconos/modificar.png"></a>
            <a class="move-btn" (click)="openDialog3('400ms', '400ms', a.id)" ><img src="assets/iconos/informacion.png"></a>
            <a *ngIf="isAdmirOrOperator()" class="move-btn" matTooltip="Eliminar" matTooltipShowDelay="800"
              matTooltipPosition="left" (click)="deleteArticulos(a.id)"><img src="assets/iconos/basura.png"></a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnasArticulos"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasArticulos"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[8, 10, 20]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>