<app-navbar></app-navbar>
<br><br>
<div class="center-div">
  <mat-card class="example-form">
    <mat-card-content>
      <mat-card-title class="center-title">Registro de SubFamilias</mat-card-title>
      <br>
      <form (ngSubmit)="addSubFamilias()">
        <mat-form-field class="example-full-width">
          <mat-label>Codigo</mat-label>
          <input [(ngModel)]="codigo" name="codigo" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Descripcion</mat-label>
          <input [(ngModel)]="descripcion" name="descripcion" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Familia</mat-label>
          <mat-select [(ngModel)]="familiaId" name="familias">
            <mat-option *ngFor="let f of familias" [value]="f.id">{{f.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="center-div">
          <button type="submit" mat-raised-button color="primary">Agregar</button>
          <a mat-raised-button routerLink="/subfamilias">Regresar</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
