.container-main{
    display: flex;
    flex-direction: column;
}

.container-sub-main-1{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.container-sub-main-2{
    display: flex;
    flex-direction: row;
    gap: 5px;
}